@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}
body {background: orange;
}
/*barre de navigation*/{
	background: #f2f2f2;
}
nav{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;
	background-color: green;
	position: sticky;
	top: 0;
}
nav h1{
	font-size: 20px;
}
nav .onglets{
	display: flex;
	flex-wrap: wrap;
}
nav .onglets p{
	font-size: 17px;
	margin-right: 10px;
	cursor: pointer;
}
nav .onglets input{
    margin: 20px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #f2f2f2
}
/*fin de la barre de navigation*/
/*header*/
header{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: green;
}
header h1{
	font-size: 50px;
	max-width: 500px;
	text-align: center;
}
header button{
	padding: 15px 20px;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
/*fin du header*/
/*section principale*/
.main{
	margin: 20px;
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/*toutes les cartes*/
.cards{
	display: flex;
	flex-wrap: wrap;
}
.card.card{
	margin-right: 20px;
	cursor: pointer;
}
.card.card img{
	width: 350px;

}
.card.card.card header{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.card.card. card-body p{
    margin-top: -10px;
}
/*fin des cartes*/
/*video de presentation*/
.main .video{
	margin-top: 80px;
	width: 90%;
}
.main .video iframe{
	border: none;
	border-radius: 10px;
	width: 100%;
    height: 400px;
}
/*fin de la video de presention*/

/*fin de la section principale*/
/*pied de page*/
footer{
	margin-top: 20%;
	background-color: blue;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px;

}
/*fin de pied de page*/

.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
